html {
  font-size: 62.5%; /* -> 10px; */
}

body {
  margin:0;
  padding: 0;
  color: #333;
  background: #FFFFF0;
  /* background: #999; */
  font-family: "Sawarabi Mincho" , YuMincho, "游明朝", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", Honoka, Meiryo, "メイリオ", serif;
  font-size: 1.5em;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 4rem;
}

h3 {
  margin-bottom: 4rem;
}

ul {
  margin: 0;
  padding: 0;
}

header li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

th {
  font-weight: normal;
}

.site-width {
  max-width: 960px;
  margin: 0 auto;
}

#navigation {
  /* display: none; */
  transition: 0.3s;
}

.js-header-show {
  /* opacity: 0.1; */
opacity: 0;
transition: 2.5s;
}

header {
  padding: 0 2%;
  overflow: hidden;
}

#site-logo {
  margin: 3rem 0;
  float: left;
}

#site-logo img {
  height: 2.5rem;
}

header nav {
  float: right;
}

header ul {
  overflow: hidden;
}

header li {
  margin-right: 3.5rem;
  /* font-style: italic; */
  line-height: 8.8rem;
  float: left;
}

header li:last-child {
  margin-right: 0;
}

header li a {
  transition: .5s;
}

header li a:hover {
  color: #815a2b;
  border-bottom: 0.2rem solid #815a2b;
}

.menu-icon {
  margin: 3rem 3% 0 0;
  font-size: 3rem;
  float: right;
  cursor: pointer;
  display: none;
  z-index: 2;
}

#modal {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#modal a {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#close-btn {
  margin: 3rem 5% 0 0;
  font-size: 3rem;
  float: right;
  cursor: pointer;
}

.link-item {
  margin-top: 10rem;
}

.top-banner {
  width: 100%;
  /* opacity: 0.1; */
  opacity: 0;
  transition: 4s;
}

.show {
  opacity: 1;
}

.scroll-icon {
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  color: #999;
  font-size: 3rem;
  cursor: pointer;
}

.title {
  padding: 15rem 0;
}

#information {
  padding: 15rem 0 20rem 0;
}

.flex-box {
  display: flex;
}

#concept-1st .item-left, #stylist-2nd .item-left {
  width: 40%;
  /* padding-right: 10%; */
  padding: 0 7% 0 3%;
  box-sizing: border-box;
}

#concept-1st h2 {
  margin-top: 5rem;
}

#stylist-2nd h2 {
  margin-top: 5rem;
}

#stylist-2nd h3 {
  margin-top: 5rem;
}

#menu h3 {
  margin-bottom: 2.5rem;
}

#stylist h2, #information h2 {
  margin-top: 2rem;
}

#information h2 {
  /* margin-top: 4rem; */
}

#concept-1st .item-right, #stylist-2nd .item-right {
  width: 60%;
}

.bg-color {
  background: #F5F5DC;
}

#stylist .item-right {
  width: 40%;
  padding: 0 3% 0 7%;
  box-sizing: border-box;
  order: 1;
}

#stylist img {
  /* vertical-align: middle; */
}

#stylist span {
  font-size: 1.8rem;
}

#stylist .item-left {
  width: 60%;
}

.container img {
  width: 100%;
}

.item-half {
  width: 50%;
}

#menu .item-half {
  padding: 0 5% 0 0;
}

#gallery .container {
  justify-content: space-between;
}

#gallery .container div {
  width: 24%;
}

.gallery-1st div {
  margin-bottom: 1rem;
}

.flame {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.flame::before, .flame::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 38%;
  height: 38%;
  background: #FFFFF0;
  transform: rotate(-45deg);
}

.bg-color .flame::before,  .bg-color .flame::after {
  background: #F5F5DC;
}

.flame::before {
  top: -19%;
  bottom: auto;
  right: auto;
  left: -19%;
}

.flame::after {
  top: auto;
  bottom: -19%;
  right: -19%;
  left: auto;
}

.flame img, #gallery img {
  vertical-align: middle;
}

#menu {
  padding-left: 3%;
  padding-right: 3%;
}

#menu table {
  width: 100%;
  border-collapse: collapse;
}

#menu tr {
  border-bottom: solid 1px #ccc;
}

#menu th {
  width: 35%;
  /* margin: 1.5rem 0 0 0; */
  padding: 1.5rem 0 0.4rem 3rem;
  text-align: left;
}

#menu td {
  width: 15%;
  /* margin: 0 0 0 1.5rem; */
  padding: 1.5rem 0 0.4rem 0;
  text-align: center;
}

#menu span {
  font-size: 1.4rem;
}

#menu .cut, #menu .perm {
  /* margin-bottom: 3rem; */
}

#menu table {
  margin-bottom:5rem;
}

.comment {
  width: 50%;
  padding: 0 25%;
  font-size: 1.3rem;
}

.info-area {
  padding-left: 2%;
}

#information th {
  padding-right: 1.5rem;
  text-align: left;
  box-sizing: border-box;
}

#information td {
  line-height: 2.5rem;
  font-size: 1.4rem;
}

#information iframe {
  width: 100%;
}

#reserve ,#gallery {
  text-align: center;
}

#reserve span {
  font-size: 1.6rem;
}

.tel, .hotpepper {
  width: 40rem;
  height: 6.5rem;
  display: block;
  margin: 2.5rem auto 0 auto;
  font-size: 1.6rem;
  font-weight: bold;
  /* background: #eee; */
  background: #FFFFF0;
  letter-spacing: 0.3rem;
  line-height: 6.5rem;
  border: 0.2rem solid #444;
  /* border: 0.2rem solid #2e221b; */
  border-radius: 0.3rem;
}

.hotpepper, .tel {
  position: relative;
}

#reserve a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .8s;
}

#reserve a:hover {
  background: #555;
  /* background: #baba6f; */
  /* background: #999955; */
  /* background: #81813e; */
  /* background: #212736; */
  color: #fff;
}

footer {
  height: 15rem;
  line-height: 15rem;
  text-align: center;
  color: #fff;
  background: #333;
  /* background: #212736; */
  font-size: 1.2rem;
}

/* footer .fab {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: #fff;
}

footer .fa-instagram {
  margin-right: .5rem;
} */

footer a {
  color: #fff;
}

/* 追加 */
.sp-gallery li {
  list-style: none;
}

.pc {
  display: block;
}
.sp {
  display: none;
  position: relative;
  overflow: hidden;
}

.prev-btn, .next-btn {
  width: 5rem;
  height: 5rem;
  /* margin: 0;
  padding: 0; */
  color: #333;
  font-size: 5rem;
  cursor: pointer;
}

.prev-btn {
  /* margin-right: 1rem; */
  float: left;
  display: none;
}
.next-btn {
  float: right;
}

.btn-wrap {
  background: rgba(239,239,239,0.3);
  /* width: 10rem; */
  /* height: 5rem; */
  position: absolute;
  right: 0;
  bottom: 0;
  /* z-index: 2; */
  width: 10rem;
  margin: 0 auto;
}

.active {
  display: block;
}

.slide {
  display: none;
}
