html {
  font-size: 62.5%;
}

body {
  margin:0;
  padding: 0;
  color: #333;
  background: #FFFFF0;
  font-family: "Sawarabi Mincho" , YuMincho, "游明朝", "Hiragino Mincho ProN", "ヒラギノ明朝 ProN W3", Honoka, Meiryo, "メイリオ", serif;
  font-size: 1.5em;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

h2, h3 {
  margin-bottom: 4rem;
}

ul {
  margin: 0;
  padding: 0;
}

header li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

th {
  font-weight: normal;
}

.site-width {
  max-width: 960px;
  margin: 0 auto;
}

header {
  padding: 0 2%;
  overflow: hidden;
}

.site-logo {
  height: 5rem;
  margin: 2.5rem 0;
  vertical-align: middle;
}

header nav {
  float: right;
}

header ul {
  overflow: hidden;
}

header li {
  margin-right: 3.5rem;
  margin-top: 5.5rem;
  float: left;
}

header li:last-child {
  margin-right: 0;
}

header li a {
  transition: .5s;
}

header li a:hover {
  color: #815a2b;
  border-bottom: 0.2rem solid #815a2b;
}

.menu-icon {
  margin: 2.5rem 3% 0 0;
  font-size: 3rem;
  float: right;
  cursor: pointer;
  display: none;
  z-index: 2;
}

#modal {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

#modal a {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#close-btn {
  margin: 2.5rem 5% 0 0;
  font-size: 3rem;
  float: right;
  cursor: pointer;
}

.link-item {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-image {
  max-width: 1080px;
  margin: 0 auto;
}

.top-banner {
  width: 100%;
  opacity: 0;
  transition: 3s;
}

.show {
  opacity: 1;
}

.scroll-icon {
  position: fixed;
  right: 2rem;
  bottom: 4rem;
  color: #999;
  font-size: 3rem;
  cursor: pointer;
}

.title {
  padding: 15rem 0;
}

#information {
  padding: 15rem 0 20rem 0;
}

.flex-box {
  display: flex;
}

#concept .item-left, #stylist-2nd .item-left {
  width: 40%;
  padding: 0 7% 0 3%;
  box-sizing: border-box;
}

#concept h2 {
  margin-top: 5rem;
}

#stylist h2, #information h2 {
  margin-top: 2rem;
}

#stylist-2nd h3 {
  margin-top: 5rem;
}

#menu h3 {
  margin-bottom: 2.5rem;
}

#concept .item-right, #stylist-2nd .item-right {
  width: 60%;
}

#stylist .item-right {
  width: 40%;
  padding: 0 3% 0 7%;
  box-sizing: border-box;
  order: 1;
}

#stylist span {
  font-size: 1.8rem;
}

#stylist .item-left {
  width: 60%;
}

.container img {
  width: 100%;
}

.item-half {
  width: 50%;
}

#menu .item-half {
  padding: 0 5% 0 0;
}

#gallery .container {
  justify-content: space-between;
}

#gallery .container div {
  width: 24%;
}

.gallery-1st div {
  margin-bottom: 1rem;
}

.pc {
  display: block;
}

.sp {
  display: none;
  position: relative;
  overflow: hidden;
}

.sp-gallery li {
  list-style: none;
}

.slide {
  display: none;
}

.active {
  display: block;
}

.prev-btn, .next-btn {
  width: 5rem;
  height: 5rem;
  color: #333;
  font-size: 5rem;
  cursor: pointer;
}

.btn-wrap {
  width: 10rem;
  margin: 0 auto;
  background: rgba(239,239,239,0.3);
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: center;
}

.prev-btn {
  float: left;
  display: none;
}
.next-btn {
  float: right;
}

.bg-color {
  background: #F5F5DC;
}

#menu {
  padding-left: 3%;
  padding-right: 3%;
}

#menu table {
  width: 100%;
  margin-bottom:5rem;
  border-collapse: collapse;
}

#menu tr {
  border-bottom: solid 1px #ccc;
}

#menu th {
  width: 35%;
  padding: 1.5rem 0 0.4rem 3rem;
  text-align: left;
}

#menu td {
  width: 15%;
  padding: 1.5rem 0 0.4rem 0;
  text-align: center;
}

#menu span {
  font-size: 1.4rem;
}

.comment {
  width: 50%;
  padding: 0 25%;
  font-size: 1.3rem;
}

.info-area {
  padding-left: 2%;
}

#reserve {
  text-align: center;
}

#reserve span {
  font-size: 1.6rem;
}

.tel, .hotpepper {
  width: 40rem;
  height: 6.5rem;
  display: block;
  margin: 2.5rem auto 0 auto;
  font-size: 1.6rem;
  font-weight: bold;
  background: #FFFFF0;
  letter-spacing: 0.3rem;
  line-height: 6.5rem;
  border: 0.2rem solid #444;
  border-radius: 0.3rem;
}

.hotpepper, .tel {
  position: relative;
}

#reserve a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .8s;
}

#reserve a:hover {
  background: #555;
  color: #fff;
}

#information th {
  padding-right: 1.5rem;
  text-align: left;
  box-sizing: border-box;
}

#information td {
  line-height: 2.5rem;
  font-size: 1.4rem;
}

#information iframe {
  width: 100%;
}

footer {
  height: 16rem;
  text-align: center;
  color: #fff;
  background: #333;
  font-size: 1.2rem;
}

footer a {
  color: #fff;
}

.sns {
  padding: 30px 0 10px 0;
}

.insta {
  font-size: 2rem;
}
